/* Centraliza o contêiner de login */
.login-container {
    max-width: 400px;
    margin: 150px auto;
    padding: var(--padding-standard);
    border-radius: var(--border-radius);
    background-color: white;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Sombra suave */
}

h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    color: var(--font-color);
}

/* Estiliza o grupo de campos de entrada */
.form-group {
    margin-bottom: 1.5rem;
    text-align: left; /* Alinha os rótulos à esquerda */
}

.form-group label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: var(--font-color);
}

/* Ajusta o estilo dos campos de texto */
input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 1rem;
    border: 1px solid #ccc;
    border-radius: var(--border-radius);
    font-size: 1rem;
    box-sizing: border-box;
}

/* Ajusta o botão de submissão */
button {
    width: 100%;
    padding: 0.75rem;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 1.1rem;
    transition: background-color 0.3s ease;
    margin-top: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
}

/* Estilo do link de registro */
.register-link {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 0.9rem;
} 

.register-link:hover {
    text-decoration: underline;
}
