<div class="login-container">
    <h2>Login</h2>
    <form (ngSubmit)="onSubmit()">
      <!-- Campo de nome de usuário -->
      <div class="form-group">
        <label for="username">Usuário</label>
        <input id="username" type="text" [(ngModel)]="username" name="username" required />
      </div>
  
      <!-- Campo de senha -->
      <div class="form-group">
        <label for="password">Senha</label>
        <input id="password" type="password" [(ngModel)]="password" name="password" required />
      </div>
  
      <!-- Botão de login -->
      <button type="submit" class="login-button">Entrar</button>
    </form>
  
    <!-- Link para registro --> 
    <p>Não tem uma conta? <a routerLink="/register" class="register-link">Registre-se aqui</a></p>
  </div>
  