.login-container {
    max-width: 400px;
    margin: 150px auto; /* Centraliza o formulário verticalmente e horizontalmente */
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona uma sombra leve */
}

.form-group {
    margin-bottom: 4rem; /* Aumenta o espaço entre os campos */
}

.form-group label {
    display: block;
    margin-bottom: 0.75rem; /* Adiciona mais espaço entre o label e o input */
    font-weight: bold;
    text-align: left; /* Alinha os labels à esquerda */
}

.form-group input {
    width: 100%;
    padding: 0.75rem; /* Aumenta o espaçamento interno do input */
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-group:nth-child(2) {
    margin-bottom: 3rem; /* Aumenta o espaçamento especificamente entre os campos de usuário e senha */
}

button {
    width: 100%; /* Faz o botão ocupar toda a largura */
    margin-top: 1rem; /* Adiciona mais espaço entre o botão e o campo de senha */
    padding: 0.75rem;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover {
    background-color: #0056b3;
}
