<main class="main" *ngIf="loggedIn; else loginTemplate">
  <div class="top-bar">
    <!-- Exibe o nome do usuário ao lado do botão de logout -->
    <span>Bem-vindo, {{ username }}</span>
    <!-- Botão de Logout -->
    <button (click)="logout()">Logout</button>
  </div>

  <div class="content">
    <div class="left-side">
      <h1>Busque livros na Open Library</h1>

      <!-- Campo de entrada para a pesquisa -->
      <input #searchBox type="text" placeholder="Digite o título/autor" />

      <!-- Seletor para escolher entre pesquisar por título, autor ou ambos -->
      <select #searchType>
        <option value="title">Título</option>
        <option value="author">Autor</option>
        <option value="todo">Autor/Título</option>
      </select>

      <!-- Botão de busca -->
      <button (click)="search(searchBox.value, searchType.value)">Buscar</button>

      <!-- Listagem de resultados com grid -->
      <div class="book-list" *ngIf="books.length > 0">
        <div class="book-item" *ngFor="let book of books">
          <!-- Exibe a capa do livro -->
          <img [src]="getBookCoverUrl(book)" alt="{{ book.title }}" class="book-cover" />

          <!-- Exibe o título e o autor, centralizados -->
          <div class="book-info">
            <strong>{{ book.title }}</strong>
            <span> - por {{ book.author_name?.join(', ') || 'Autor desconhecido' }}</span>
            <p class="book-description">{{ book.description }}</p>

            <!-- Botão para favoritar o livro -->
            <button (click)="addToFavorites(book)">Favoritar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<!-- Template para o login -->
<ng-template #loginTemplate>
  <div class="login-container">
    <router-outlet></router-outlet>
  </div>
</ng-template>
