<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Busque livros na Open Library</h1>
      
      <!-- Campo de entrada para a pesquisa -->
      <input #searchBox type="text" placeholder="Digite o título ou autor" />

      <!-- Seletor para escolher entre pesquisar por título, autor ou ambos -->
      <select #searchType>
        <option value="title">Título</option>
        <option value="author">Autor</option>
        <option value="todo">Autor/Título</option> <!-- Nova opção -->
      </select>

      <!-- Botão de busca -->
      <button (click)="search(searchBox.value, searchType.value)">Buscar</button>

      <!-- Listagem de resultados -->
      <ul *ngIf="books.length > 0">
        <li *ngFor="let book of books">
          <strong>{{ book.title }}</strong>
          <!-- Exibir o autor apenas se o campo author_name existir -->
          <span *ngIf="book.author_name?.length"> - por {{ book.author_name?.join(', ') }}</span>
        </li>
      </ul>
    </div>
  </div>
</main>